

body #logo {
    width: 10%;
    height: 5%;
    margin-left: -80px;
}

body #nav-list .btn {
    margin-right: -80px;
}

body i.icon-black {
    color: black;
}

body .slider-capt {
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.6);
}

body .teal-text {
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.1);
}

body .card-panel {
    border: 1px solid rgb(38, 228, 101);
    border-radius: 5px;
}
body .responsive-img {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

body .contact-title {
    margin-top: -20px;
    margin-bottom: 20px;
}
section, footer {
    padding: 20px 0;
}
@media screen and (max-width: 480px) {
    body #logo{
      margin-left: 7%;
      margin-top: 5%;
    }
    #capt {
        text-align: center;
        
    }
  }
