.slider h3, 
.slider h5 {
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
    section .m6 {
      text-align: center;
    }
  }

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.8);
}